body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid rgb(12, 12, 12);
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid rgb(243, 7, 7);
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid rgb(247, 4, 4);;
  }
  
  .hour {
    background-color: #2a107c;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d413c4;
    color: rgb(103, 80, 165);
  }
  
  .present {
    background-color: #c2130a;
    color: rgb(26, 194, 245);
  }
  
  .future {
    background-color: #2ef52e;
    color: rgb(173, 171, 13);
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: rgb(252, 25, 138);
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  